body {
  background-color: black;
  font-family: Arial, sans-serif;
  text-align: center;
}
.dash
{
   display: grid;
  background-color: black;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  padding: 0 50px;
}
h1 {
  color: white;
  margin-top: 40px;
}

.add-box {
  width: 300px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  background-color:aquamarine;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.view-box {
  width: 300px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  background-color:yellow;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.hero-box {
  width: 300px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  background-color:lightcoral;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.viewhero-box {
  width: 300px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  background-color:burlywood;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.viewsub-box
{
  width:300px;
  margin:30px auto;
  padding:30px;
  border-radius:10px;
  background-color:darkcyan;
  color:white;
  font-size:20px;
  cursor:pointer;

}

